@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "font2";
  src: url("fonts/BebasNeue-Regular.otf");
}

@font-face {
  font-family: "font1";
  src: url("fonts/Catleya Signature.ttf");
}

.font1 {
  font-family: "font1", sans-serif;
}
.font2 {
  font-family: "font2", sans-serif;
}

/* @theme {
} */

* {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .line {
    @apply relative inline-block;
  }

  .line::after {
    content: '';
    @apply absolute -bottom-1 bg-white h-[2px] w-0 transition-all duration-200;
    left: 50%;
    transform: translateX(-50%);
  }

  .line:hover::after {
    @apply w-full;
  }
}